{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<style>
  .hover-lift {
    transition: transform 0.3s ease !important;
  }
  .hover-lift:hover {
    transform: translateY(-5px) !important;
    cursor: pointer;
  }
</style>

<div itemscope itemtype="http://schema.org/Person">

<div class="author__avatar">
  <img src="{{ base_path }}/images/profile.jpg" class="author__avatar hover-lift" alt="{{ author.name }}" fetchpriority="high" style="border-radius: 10%; box-shadow: 0 10px 25px rgba(0,0,0,0.1); width: 100%; max-width: 275px;">
</div>

<div class="author__content" style="text-align: center;">
  
  <p class="author__bio" style="font-style: italic; font-size: 0.8em; color: #444; margin-top: 5px;">
    "Live, Love, Laugh!"
  </p>
</div>

  <div style="margin-top: 30px; margin-bottom: 25px; padding: 0 5px;">
    <p style="font-size: 1.1em; font-weight: bold; text-transform: uppercase; margin-bottom: 15px; border-bottom: 1px solid #ddd; padding-bottom: 5px;">Md Rezwane Sadik</p>
    <div style="display: grid; grid-template-columns: repeat(6, 1fr); gap: 15px; justify-items: center; text-align: center; align-items: end;">
      
      {% if author.email %}
      <a href="mailto:{{ author.email }}" title="rezwane@ieee.org" style="text-decoration: none;">
        <img src="https://www.vectorlogo.zone/logos/gmail/gmail-icon.svg" class="hover-lift" width="28" alt="Email">
      </a>
      {% endif %}

      {% if author.googlescholar %}
      <a href="{{ author.googlescholar }}" title="Google Scholar" style="text-decoration: none;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Google_Scholar_logo.svg" class="hover-lift" width="28" alt="Scholar">
      </a>
      {% endif %}

      {% if author.github %}
      <a href="https://github.com/{{ author.github }}" title="GitHub" style="text-decoration: none;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" class="hover-lift" width="28" alt="GitHub">
      </a>
      {% endif %}

      {% if author.linkedin %}
      <a href="https://www.linkedin.com/in/{{ author.linkedin }}" title="LinkedIn" style="text-decoration: none;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" class="hover-lift" width="28" alt="LinkedIn">
      </a>
      {% endif %}
    </div>
  </div>

  <div style="margin-top: 30px; padding: 0 5px;">
    <p style="font-size: 1.1em; font-weight: bold; margin-bottom: 15px; border-bottom: 1px solid #ddd; padding-bottom: 5px; text-transform: uppercase;">AFFILIATIONS</p>
    
    <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 15px; justify-items: center; align-items: center;">
      
      <img src="{{ base_path }}/images/KSU.png" class="hover-lift" style="width: 100%; max-width: 70px; height: auto; display: block;">
      <img src="{{ base_path }}/images/USD.png" class="hover-lift" style="width: 100%; max-width: 100px; height: auto; display: block;">
      
      <img src="{{ base_path }}/images/DOE.jpg" class="hover-lift" style="grid-column: span 2; width: 100%; max-width: 200px; height: auto; display: block;">
      
      </div>
  </div>


  <div style="margin-top: 30px; padding: 0 5px;">
    <p style="font-size: 1.1em; font-weight: bold; text-transform: uppercase; margin-bottom: 5px; border-bottom: 1px solid #ddd; padding-bottom: 5px;">Interests</p>
    <div style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 10px; justify-items: center; align-items: center;">
        
        <img src="{{ base_path }}/images/pickleball.png" class="hover-lift" title="Pickleball" style="width: 60px; height: auto;">
        <img src="{{ base_path }}/images/cricket.png" class="hover-lift" title="Cricket" style="width: 55px; height: auto;">
        <img src="{{ base_path }}/images/tabletennis.png" class="hover-lift" title="Table Tennis" style="width: 55px; height: auto;">

        <img src="{{ base_path }}/images/adventure.avif" class="hover-lift" title="Adventure" style="width: 60px; height: auto;">
        <img src="{{ base_path }}/images/games.avif" class="hover-lift" title="Games" style="width: 60px; height: auto;">
    </div>
  </div>


    
  <div style="margin-top: 30px; padding: 0 45px;", class="github-stats-right">
        <a href='https://mapmyvisitors.com/web/1c36g'  title='Visit tracker'><img src='https://mapmyvisitors.com/map.png?cl=ffffff&w=a&t=m&d=lSzZfQ2Us9dYiV01T5GNc3tqK2pNAxQX2Mbse6RV51s'/></a>
  </div>


</div>