---
layout: compress
---
{% include base_path %}
<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">

<head>
  {% include head.html %}
  {% include head/custom.html %}
</head>

<body style="margin:0; display:flex; flex-direction:column; min-height:100vh; background-color:#ffffff;">

  {% include masthead.html %}

  <div id="main" role="main"
       style="display:flex; flex:1; max-width:1550px; margin:0 auto; width:100%; box-sizing:border-box; align-items: stretch;">

    <aside class="sidebar"
           style="flex:0 0 25%; max-width:25%; padding:40px 35px; border-right:1px solid #eeeeee; box-sizing:border-box; background-color:#ffffff;">
      {% include author-profile.html %}
    </aside>

    <article class="page"
             style="flex:1; padding:0px 0px 0px 0px; min-width:0; box-sizing:border-box;">
      {{ content }}
    </article>

  </div>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>